@import './mixin';
@import './variables';


body{
    font-family: $font-family;
    line-height: 1;
    color: $text-color;
    height: 100vh;
    background-color: $primary-color;
    @include bgImg(100vh, $main-bgImg-path)
}

a{
    text-decoration: none;
    color: $text-color;
}

h1,h2,h3{
    font-weight: 400;
}